.DS_Store
Makefile
CMakeCache.txt
CMakeFiles/
cmake-build-debug/
cmake_install.cmake
config.py
env
log.txt
*.o
*.db
*.exe
*.dll
*.pyc
*.cbp
.idea/
node_modules/

deps/glfw/src/glfw3Config.cmake
deps/glfw/src/glfw3ConfigVersion.cmake
deps/glfw/src/glfw_config.h
